# Use production API or development API
# Set to true for production, false for local development
VITE_USE_PRODUCTION=false

# API URLs
VITE_DEVELOPMENT_API_URL=http://localhost:8096
VITE_PRODUCTION_API_URL=
VITE_MICROSOFT_CLIENT_ID=

